@import "../scss/variables";

.header {
  z-index: 0;
  padding-bottom: 20px;
  background-color: $primary-light;
  background-image: url("../img/header/header.png");
  background-position: center;
  background-size: cover;

  @include media-breakpoint-up(lg) {
    padding-top: 40px;
    min-height: 700px;
  }
}

#navbar-main {
  padding: 0;
  position: relative;
  background-color: $white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 78%;
  margin: 0 auto;

  #block-mainnavigation {
    padding: 0;
    margin: 0;
    display: flex;

    li {
      padding: 6px;
    }
  }

  .site-branding {
    display: flex;
    flex-direction: column;
  }

}


