@import "../scss/variables";

#block-views-block-news-block-1 {
  @extend %container;
  margin-bottom: 31px;

  .view-content {
    display: grid;
    grid-template-columns: 1fr 1fr;

    @include media-breakpoint-down(md) {
      grid-template-columns: 1fr;
    }
  }

  .form-group {
    background: repeating-linear-gradient(-45deg, $primary-light, $primary-light 10%, transparent 10%, transparent 50%);
    background-size: 8px 8px;
    padding: 10px 14px 55px;
  }

  .node--view-mode-teaser {
    border-bottom: none;
    padding: 0;
  }

  h2 {
    line-height: 59px;
    font-size: 31px;
    text-transform: uppercase;
    color: $primary;
    font-weight: 700;

    &:before,
    &:after {
      background-color: $primary-light;
      content: ' ';
      display: inline-block;
      height: 1px;
      position: relative;
      vertical-align: middle;
      width: 46%;
    }
  }

  .form-row {
    display: flex;

    #edit-actions--2 {
      padding: 0;
    }

    .form-actions {
      align-self: center;
    }
  }

  #edit-submit-news {
    border-radius: 10px;
    padding: 4px 19px 8px 15px;
    background-color: $search-blue;
    border-color: $search-blue;

    &:active {
      background-color: $primary;
      color: $white;
    }
  }

  .js-form-item {
    margin-top: 13px;
  }

  .form-control {
    padding: 4px 0 6px 23px;
  }

  .views-row {
    margin-left: 20px;
    background-color: $white;
    text-transform: uppercase;

    .layout__region--second {
      display: grid;
      grid-template-columns: 1fr 2fr 1fr 1fr;
      margin-bottom: 10px;
    }

    .layout--onecol {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }

    .layout__region--first {
      margin-right: -45px;
    }
  }

  .node__title {
    display: none;
  }

  .block-field-blocknodenewsfield {
    &-news-media {
      margin: 0 5px 0 -38px;
      padding-left: 15px;
      border-left: 2px solid $primary-light;
    }

    &-news-date {
      color: $blue;
      font-size: 52px;
      line-height: 33px;
      font-weight: bolder;

      &:first-child {
        color: $black;
        font-size: 25px;
        font-weight: 300;
      }

      &:last-child {
        color: $primary-light;
        font-size: 14px;
      }

    }

    &-employees-name {
      display: inline-flex;
      justify-content: flex-start;
      color: $blue;
      font-size: 15px;
    }

    &-employees-position {
      font-size: 15px;
    }

    &-button-news {
      text-align: center;
      height: 29px;
      line-height: 29px;
      font-size: 14px;
      width: 100px;
      margin: 13px 78% 0;
      color: white;
      background-color: $primary;

      a {
        color: $white;
      }
    }

    &-text-news {
      letter-spacing: 0.1px;
      font-size: 12px;
      line-height: 17px;
      margin-left: 160px;
    }

  }

  .block-field-blocknodenewstitle {
    text-align: end;
    font-size: 25px;
  }

  .employees_job,
  .employees_personal {
    color: $primary-light;
  }

  .employees_michalle,
  .employees_personal {
    font-size: 12px;
  }

  .field--name-field-publication-date {
    font-size: 13px;
    color: $primary-light;
  }
}