#block-views-block-our-team-block-1{
  margin-top: 83px;
  margin-bottom: 153px;
  .view-content{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    @include media-breakpoint-down(md) {

    }
  }
  .views-row{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  h2{
    text-transform: uppercase;
    color: #373645;
    line-height: 60px;
    font-size: 28px;
    font-weight: 700;
  }
  .views-field-title{
    font-size: 24px;
  }
  .views-field-field-team-media{
    margin: 11px 0 31px;
  }
  .views-field-field-team-position{
    font-size:11px;
    margin: -4px 0 17px;
  }
  .views-field-field-team-button{
    text-align: center;
    height: 29px;
    line-height: 29px;
    font-size: 14px;
    width: 100px;
    margin-bottom:26px;
    color: white;
    background-color:$blue;
  }
  .views-field-addtoany-share{
    margin-right:102px;
  }

  }

