#block-views-block-our-team-block-1{
  margin-top: 83px;
  .view-content{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .views-row{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  h2{
    text-transform: uppercase;
    color: #373645;
    line-height: 60px;
    font-size: 28px;
    font-weight: 700;
  }
  .views-field-title{
    font-size: 24px;
  }
  .views-field-field-team-media{
    margin: 11px 0 31px;
  }
  .views-field-field-team-position{
    font-size:11px;
    margin: -4px 0 17px;
  }
  .views-field-field-team-button{
    text-align: center;
    height: 29px;
    line-height: 29px;
    font-size: 14px;
    width: 100px;
    margin-bottom:26px;
    color: white;
    background-color:$blue;
  }
  .views-field-addtoany-share{
    margin-right:102px;
  }
  .views-field-link-flag action-flag{
    display:none;
  }
  .views-field-link-flag js-flag-flags-70 action-unflag{
    background-image:url("../img/unflag.png") no-repeat top;}
  .views-field-link-flag js-flag-flags-69 action-flag, .views-field-link-flag js-flag-flags-70 action-unflag{
    display:block;
    text-indent: -999px;
    overflow:hidden;
    width:20px;
    height:20px;
    outline:none;
    }
  }

