$grid-gutter-width:30px;
$font-family-base:'Source Sans Pro', sans-serif;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1250px
) ;

$blue: #6e9bca;
$primary:#373645;
$primary-light:#DCDFCB;
$white: #fff;
$project-green:#6AD3BE;
$project-red:#E84C3D;
$project-purple:#9B58B5;
$project-blue:#4DA9E0;
$search-blue: #67bfdc;
$contact-red: #e23012;
$link-decoration: none;
$link-hover-color: $primary;
$link-hover-decoration:none;
$grid-gutter-width: 30px;
